
{% extends 'base.html' %}
{% block content %}
<h3>נוכחות</h3>

<form method=post>

<select name=student>
{% for s in students %}
<option value="{{s.id}}">{{s.name}}</option>
{% endfor %}
</select>

<select name=day>
{% for d in days %}
<option value="{{d.id}}">{{d.name}}</option>
{% endfor %}
</select>

<input name=s1 placeholder="סדר1">
<input name=s2 placeholder="סדר2">
<input name=s3 placeholder="סדר3">

<button class="btn btn-success">שמור</button>

</form>

<table class="table mt-3">
<tr><th>תלמיד</th><th>יום</th><th>סכום</th></tr>

{% for a in data %}
<tr>
<td>{{a.student.name}}</td>
<td>{{a.day.name}}</td>
<td>{{a.total}}</td>
</tr>
{% endfor %}

</table>

{% endblock %}
