
{% extends 'base.html' %}
{% block content %}
<h3>סדרים</h3>
<form method=post>
<input name=name placeholder="שם סדר">
<input name=amount placeholder="סכום">
<input name=late placeholder="דקות איחור">
<input name=deduct placeholder="סכום קיזוז">
<button class="btn btn-success">הוסף</button>
</form>
<table class="table">
<tr><th>שם</th><th>סכום</th><th>דקות איחור</th><th>קיזוז</th></tr>
{% for s in data %}
<tr>
<td>{{s.name}}</td>
<td>{{s.amount}}</td>
<td>{{s.late_minutes}}</td>
<td>{{s.deduction}}</td>
</tr>
{% endfor %}
</table>
{% endblock %}
